services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      # correspond au workdir du dockerfile
      - ./backend:/backend
      - ./backend/migrations:/backend/migrations
    depends_on:
      - db
    environment:
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - SECRET_KEY=${SECRET_KEY}
    command: [ "python", "-m", "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000" ]
  db:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - node_modules_volume:/app/node_modules
    command: npm run dev -- --host --port 5173
  adminer:
    image: "adminer"
    restart: "always"
    ports:
      - "8080:8080"
    depends_on:
      - db
volumes:
  postgres_data:
  node_modules_volume:
