/* --- RESET GLOBAL --- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- SUPPRIMER LA DÉCORATION DES LIENS --- */
a {
    color: inherit;
    text-decoration: none;
}

/* --- LISTES SANS STYLES PAR DÉFAUT --- */
ul,
ol {
    list-style: none;
}

/* --- BODY DE BASE --- */
html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    background: #fff;
    color: #000;
}

/* --- IMAGES RESPONSIVES --- */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* --- FORMULAIRES --- */
input,
button,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
}

/* --- B*/
body {
    /* padding: 10px 85px; */
    /* top/bottom = 35px, left/right = 85px */
    /* box-sizing: border-box; */ /* Already set globally by reset */
    /* background: #b714b7; */
    /* width: 100%; */
    min-height: 100vh;
}